:root {
  --background-dark: #121212;
  --surface-dark: #1e1e1e;
  --primary-blue: linear-gradient(135deg, #649be7, #0015d4);
  --primary-hover: linear-gradient(135deg, #0050d9, #002fa9);
  --border-dark: #333;
  --text-light: #ffffff;
  --text-secondary: #a0a0a0;
  --hint-gradient: linear-gradient(90deg, #ff5f91, #ff3863, #ff0a35);
  --minimap-gradient: linear-gradient(135deg, #828b97, #1b2634);
  --hint-text-light: #fefefe;
}


div[jstcache="22"],
div[jstcache="50"] {
  display: none !important;
}

.gm-iv-address {
  display: none !important; 
}
